In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
from tqdm import tqdm
from matplotlib import pyplot as plt
from IPython.display import display

In [3]:
import datetime
from dateutil.parser import parse
ua = UserAgent()
import os
import glob

In [4]:
dir_ = r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks"
dir_list = glob.glob(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\*.txt")

In [5]:
li_2 = []
for i in dir_list:
    li_2.append(i.replace(dir_,"").replace(".txt","").replace("\\","").replace(".us","").upper())

In [6]:
nasdaq = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\NASDAQ.csv")
nyse = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\NYSE.csv")
amex = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\AMEX.csv")

In [7]:
nas_2 = nasdaq.loc[:,["Symbol","Sector","industry"]]
nys_2 = nyse.loc[:,["Symbol","Sector","industry"]]
amex_2 = amex.loc[:,["Symbol","Sector","industry"]]
indu_all = pd.concat([nas_2,nys_2,amex_2])

In [8]:
dic_ = {}
for i in tqdm(li_2):
    try:
        indu_ = indu_all[indu_all["Symbol"]==i]["industry"].reset_index(drop=True)[0]
        sec_ = indu_all[indu_all["Symbol"]==i]["Sector"].reset_index(drop=True)[0]
        list_ = [indu_,sec_]
        dic_[i] = list_
    except:
        pass

100%|█████████████████████████████████████████████████████████████████████████████| 7195/7195 [00:11<00:00, 631.46it/s]

In [9]:
indexs = []
indus = []
sector = []
for key,value in dic_.items():
    indexs.append(key.lower())
    indus.append(value[0])
    sector.append(value[1])

In [10]:
indu_df = pd.DataFrame(data=[indus,sector,indexs]).T
indu_df.head()

                                                  0                 1     2
0  Biotechnology: Laboratory Analytical Instruments     Capital Goods     a
1                                          Aluminum  Basic Industries    aa
2                     Air Freight/Delivery Services    Transportation   aal
3                                       Real Estate           Finance  aamc
4                                    Life Insurance           Finance  aame

In [11]:
sample = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\a.us.txt")
sample["Date"] = pd.to_datetime(sample["Date"].map(lambda x: parse(x).strftime("%Y")))
date_list=list(sample["Date"].value_counts().keys())

In [12]:
def make_graph_open_all(Co,indu_df):
    code = Co
    sector = indu_df[indu_df[2]==code][1].reset_index()[1][0]
    df = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\{}.us.txt".format(code))
    df["Date"] = pd.to_datetime(df["Date"].map(lambda x: parse(x).strftime("%Y")))
    df["Open"].plot(figsize = (20,10))
    plt.savefig(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\img\open_all\{}_{}.png".format(sector,code))

In [13]:
sample["Date"].value_counts()

2008-01-01    253
2016-01-01    252
2003-01-01    252
2013-01-01    252
2014-01-01    252
2009-01-01    252
2015-01-01    252
2010-01-01    252
2005-01-01    252
2004-01-01    252
2011-01-01    252
2006-01-01    251
2007-01-01    251
2000-01-01    251
2012-01-01    250
2002-01-01    249
2001-01-01    248
2017-01-01    218
1999-01-01     30
Name: Date, dtype: int64

In [14]:
def make_graph_open_years(Co,indu_df):
    code = Co
    sector = indu_df[indu_df[2]==code][1].reset_index()[1][0]
    df = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\{}.us.txt".format(code))
    df["Date"] = pd.to_datetime(df["Date"].map(lambda x: parse(x).strftime("%Y")))
    for year in date_list:
        df_2 = df[df["Date"]==str(year)].reset_index()
        df_2["Open"].plot(figsize = (20,10))
        save_year = year.year
        plt.savefig(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\img\open_years\{}_{}_{}.png".format(sector,code,save_year))
        plt.close("all")
        plt.figure()

In [ ]:
for c in tqdm(indu_df[2]):
    try:
        make_graph_open_years(c,indu_df)
    except:
        print(c)

  1%|▌                                                                             | 34/4683 [01:57<4:37:59,  3.59s/it]

accp

  2%|█▋                                                                           | 105/4683 [06:35<5:49:05,  4.58s/it]