In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from fake_useragent import UserAgent
from tqdm import tqdm
from matplotlib import pyplot as plt
from IPython.display import display

In [2]:
import datetime
from dateutil.parser import parse
ua = UserAgent()
import os
import glob

In [3]:
dir_ = r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks"
dir_list = glob.glob(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\*.txt")

In [4]:
li_2 = []
for i in dir_list:
    li_2.append(i.replace(dir_,"").replace(".txt","").replace("\\","").replace(".us","").upper())

In [5]:
nasdaq = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\NASDAQ.csv")
nyse = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\NYSE.csv")
amex = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\AMEX.csv")

In [6]:
nas_2 = nasdaq.loc[:,["Symbol","Sector","industry"]]
nys_2 = nyse.loc[:,["Symbol","Sector","industry"]]
amex_2 = amex.loc[:,["Symbol","Sector","industry"]]
indu_all = pd.concat([nas_2,nys_2,amex_2])

In [7]:
dic_ = {}
for i in tqdm(li_2):
    try:
        indu_ = indu_all[indu_all["Symbol"]==i]["industry"].reset_index(drop=True)[0]
        sec_ = indu_all[indu_all["Symbol"]==i]["Sector"].reset_index(drop=True)[0]
        list_ = [indu_,sec_]
        dic_[i] = list_
    except:
        pass

100%|█████████████████████████████████████████████████████████████████████████████| 7195/7195 [00:21<00:00, 339.41it/s]

In [8]:
indexs = []
indus = []
sector = []
for key,value in dic_.items():
    indexs.append(key.lower())
    indus.append(value[0])
    sector.append(value[1])

In [9]:
indu_df = pd.DataFrame(data=[indus,sector,indexs]).T
indu_df.head()

                                                  0                 1     2
0  Biotechnology: Laboratory Analytical Instruments     Capital Goods     a
1                                          Aluminum  Basic Industries    aa
2                     Air Freight/Delivery Services    Transportation   aal
3                                       Real Estate           Finance  aamc
4                                    Life Insurance           Finance  aame

In [10]:
sample = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\a.us.txt")
sample["Date"] = pd.to_datetime(sample["Date"].map(lambda x: parse(x).strftime("%Y")))
date_list=list(sample["Date"].value_counts().keys())

In [11]:
sample

           Date    Open    High     Low   Close    Volume  OpenInt
0    1999-01-01  30.713  33.754  27.002  29.702  66277506        0
1    1999-01-01  28.986  29.027  26.872  27.257  16142920        0
2    1999-01-01  27.886  29.702  27.044  29.702   6970266        0
3    1999-01-01  28.688  29.446  27.002  27.002   6332082        0
4    1999-01-01  27.083  28.309  27.002  27.717   5132147        0
...         ...     ...     ...     ...     ...       ...      ...
4516 2017-01-01  68.220  68.450  68.220  68.220    995731        0
4517 2017-01-01  68.320  68.640  68.040  68.250    966466        0
4518 2017-01-01  68.100  68.330  67.771  68.110    972616        0
4519 2017-01-01  67.920  67.980  66.910  67.470   1673083        0
4520 2017-01-01  67.350  67.580  66.700  66.810   1704549        0

[4521 rows x 7 columns]

In [12]:
def make_graph_volume_all(Co,indu_df):
    code = Co
    sector = indu_df[indu_df[2]==code][1].reset_index()[1][0]
    df = pd.read_csv(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\Stocks\{}.us.txt".format(code))
    df["Date"] = pd.to_datetime(df["Date"].map(lambda x: parse(x).strftime("%Y")))
    df["Volume"].plot(figsize = (20,10))
    plt.savefig(r"C:\Users\Samsung\Desktop\수업\2020_1\AI\final\4538_7213_bundle_archive\Data\img\volume_all\{}_{}.png".format(sector,code))
    plt.close("all")
    plt.figure()

In [ ]:
for c in tqdm(indu_df[2]):
    try:
        make_graph_volume_all(c,indu_df)
    except:
        print(c)

  1%|▌                                                                               | 34/4683 [00:17<34:24,  2.25it/s]

accp

  5%|███▌                                                                           | 214/4683 [01:31<26:49,  2.78it/s]

amrh
amrhw

  9%|███████▍                                                                       | 441/4683 [02:59<28:48,  2.45it/s]

bbrx

 12%|█████████▊                                                                     | 584/4683 [03:57<28:23,  2.41it/s]

boxl

 14%|███████████                                                                    | 653/4683 [04:30<26:44,  2.51it/s]